# ========================================== RUST ==========================================

/.cargo
/target

# ========================================== REPLIT ==========================================

/.local
/.upm

# ========================================== CUSTOM ==========================================

.env