hidden = ["target", ".cargo", ".git"]
run = "just run"

[nix]
channel = "stable-24_05"

[packager]
language = "rust"

[packager.features]
packageSearch = true

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"

[languages.python]
pattern = "**/*.py"